<!-- forgetpassword.component.html -->
<p-steps [(activeIndex)]="activeIndex" [model]="steps" [readonly]="true"></p-steps>

<section class="bg-main-light rounded my-3 shadow w-50 mx-auto">
    <div class="p-4">
        <ng-container *ngIf="activeIndex === 0">
            <h4 class="border-bottom p-4">Find Your Account</h4>
            <p>Please enter your email address to search for your account.</p>
            <form [formGroup]="forgetpassword" (ngSubmit)="handlePassword(isloading,isloadingResend=false)">
                <div>
                    <input type="email" placeholder="enter your email" formControlName="email" class="form-control">
                    <div class="py-2"
                        *ngIf="forgetpassword.get('email')?.errors && forgetpassword.get('email')?.touched ">
                        <p class="text-danger m-0" *ngIf="forgetpassword.get('email')?.getError('required')">Email
                            Required</p>
                        <p class="text-danger m-0" *ngIf="forgetpassword.get('email')?.getError('email')">Email is
                            invalid</p>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn-main my-3"><span *ngIf="isloading" class="loader"></span> Send Code</button>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="activeIndex === 1">
            <h4 class="border-bottom p-4">Verify Code</h4>
            <p>Please enter your Code.</p>
            <form [formGroup]="verifypassword">
                <div>
                    <input type="number" placeholder="enter verified code" formControlName="resetCode"
                        class="form-control">

                    <div class="py-2"
                        *ngIf="verifypassword.get('resetCode')?.errors && verifypassword.get('resetCode')?.touched ">
                        <p class="text-danger m-0" *ngIf="verifypassword.get('resetCode')?.getError('required')">
                            Verified Code is required</p>
                    </div>
                </div>

                <div class="d-flex justify-content-between flex-wrap">
                    <button class="btn-main my-3" (click)="verifycode()"><span *ngIf="isloading"
                            class="loader"></span>Verify Code</button>

                    <button class="btn-main my-3" [disabled]="timer > 0" (click)="resendCode()"><span
                            *ngIf="isloadingResend" class="loader"></span> Resend Code{{ timer > 0 ? ' (' + timer + 's)'
                        : '' }}</button>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="activeIndex === 2">
            <h4 class="border-bottom p-4">Reset Password</h4>
            <p>Please enter the new Password.</p>
            <form [formGroup]="newpasswpord" (ngSubmit)="enterNewPassword()">
                <input type="email" formControlName="email" class="form-control mb-3" readonly>
                <div>
                    <input type="password" class="form-control" formControlName="newPassword"
                        placeholder="please enter new password">
                    <div class="py-2"
                        *ngIf="newpasswpord.get('newPassword')?.errors && newpasswpord.get('newPassword')?.touched ">
                        <p class="text-danger m-0" *ngIf="newpasswpord.get('newPassword')?.getError('required')">
                            password is Required</p>
                        <p class="text-danger m-0" *ngIf="newpasswpord.get('newPassword')?.getError('pattern')">password
                            must start with upperCase then from 6 to 20</p>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn-main my-3"><span *ngIf="isloading" class="loader"></span> Reset Password</button>
                </div>
            </form>
        </ng-container>
    </div>
</section>