<div class="row g-4" *ngIf="wishlistData.length!=0 else nofav">
    <div class="col-md-2" *ngFor="let item of wishlist">

        <div class="product position-relative">
            <i *ngIf="wishlistData?.includes($any(item._id))" (click)="removeFromWishlist(item._id)"
                class="fa-solid fa-heart fa-2x text-main cursor-pointer heart-icon"></i>

            <div class="p-2 cursor-pointer" [routerLink]="['/product/details',item._id]">
                <img [src]="item.imageCover" class="w-100" [alt]="item.title">
                <h3 class="h6 text-main font-sm mt-2"><i class="fa-solid fa-tag"></i> {{item.category?.name|lowercase}}
                </h3>
                <h4 class="h6" placement="top" [ngbTooltip]="item.title">
                    {{item.title.split(" ").slice(0,2).join(' ')}}
                </h4>
                <div class="d-flex justify-content-between align-products-center">
                    <span>{{item.price}} EGP</span>
                    <div><i [class.rating-color]="item.ratingsAverage >= num" *ngFor="let num of [1,2,3,4,5]"
                            class="fas fa-star"></i>
                        <span class="text-muted">{{item.ratingsAverage}}</span>
                    </div>
                </div>
            </div>
            <div class="p-2 pt-0">
                <button (click)="addCart(item._id)" class="btn-main w-100">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<ng-template #nofav>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="./assets/images/Favorite.png" class="w-25" alt="no fav">
        <button class="btn-main mb-2" routerLink="/products">Go to Products</button>
    </div>
</ng-template>