<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img [src]="ProductDetails.imageCover" [alt]="ProductDetails.title" class="w-100">
            </div>
            <div class="col-md-7">
                <div>
                    <h3>{{ProductDetails.title}}</h3>
                    <p class="text-muted">{{ProductDetails.description}}</p>
                    <h4 class="h6 text-main"><i class="fa-solid fa-tag"></i> {{ productCategoryDetials.name }}</h4>


                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{ProductDetails.price}} EGP</span>
                        <div><i [class.rating-color]="ProductDetails.ratingsAverage >= num"
                                *ngFor="let num of [1,2,3,4,5]" class="fas fa-star"></i>
                            <span class="text-muted">{{ProductDetails.ratingsAverage}}</span>

                        </div>
                    </div>
                    <button class="btn-main w-100" (click)="addCart(ProductDetails._id)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>