<owl-carousel-o [options]="mainSliderOption">
    <ng-template carouselSlide>
        <img src="./assets/images/main-slider-1.jpeg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./assets/images/main-slider-2.jpeg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./../assets/images/main-slider-3.jpeg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./../assets/images/main-slider-1.jpeg" height="400" alt="">
    </ng-template>
</owl-carousel-o>