<owl-carousel-o [options]="mainSliderOption">
    <ng-template carouselSlide>
        <img src="./assets/images/shopping/shopping1.jpg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./assets/images/shopping/shopping2.jpg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./assets/images/shopping/shopping3.jpg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./assets/images/shopping/shopping4.jpg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./assets/images/shopping/shopping5.jpg" height="400" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./assets/images/shopping/shopping6.jpg" height="400" alt="">
    </ng-template>
</owl-carousel-o>